/* ===========================================
   HOME PAGE
=========================================== */

.intro_home {
    text-align: center;
    max-width: 600px;
}

.home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.home-info p {
    font-style: italic;
    font-size: 18px;
}

.participant-list_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.participant-button_home {
    background-color: #ffffff;
    color: #d82e2f;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #d82e2f;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.participant-button_home:hover {
    background-color: #f4f4f4;
    transform: translateY(-3px);
}

/* ===========================================
     PREFERENCES PAGE
  =========================================== */

.preferences_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.intro_preferences {
    text-align: center;
}

.sortable-list_preferences {
    width: 100%;
    max-width: 400px;
    padding: 0;
}

.sortable-list_preferences li {
    background-color: #f4f4f4;
    color: #000;
    border: 1px solid #d82e2f;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

/* ===========================================
     RESULT PAGE
  =========================================== */

.result_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.qr_code_section {
    margin-top: 30px;
}

.qr_code_section a {
    color: #ffffff;
    text-decoration: underline;
}

.qr_code_section a:hover {
    text-decoration: none;
}

/* ===========================================
   MENU PAGE
=========================================== */

.menu_page {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    height: 90vh;
}

.menu-heading {
    font-size: 2.5rem;
}

.menu-intro {
    font-style: italic;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.menu-wrapper p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.lunch,
.dinner {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.menu-category {
    font-size: 1.8rem;
    color: #f9f9f9;
    letter-spacing: 1.4px;
}

.dinner {
    padding-top: 1rem;
}

.menu-list {
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
    list-style-type: disc;
    list-style: none;
}

.menu-list li {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* ===========================================
     ITINERARY PAGE
  =========================================== */

.itinerary_page {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.itinerary-heading {
    font-size: 2.5rem;
}

.itinerary-content {
    max-width: 600px;
}

.itinerary-intro {
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.kjoreplan {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.itinerary-category {
    font-size: 1.4rem;
    color: #f9f9f9;
    margin-top: 20px;
    letter-spacing: 1.6px;
    text-align: left;
}

.itinerary-detail {
    font-size: 1.1rem;
    margin: 10px 0;
}

.itinerary-closing {
    font-size: 1.2rem;
    margin-top: 30px;
    font-style: italic;
}
