@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* ===========================================
   GLOBAL STYLING
=========================================== */



body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background: linear-gradient(316deg, #ff393a, #731213);
  color: #ffffff;
  line-height: 1.6;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 1.2px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.pages {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

button {
  background-color: #d82e2f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #a91d1e;
  transform: translateY(-3px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

input {
  padding: 10px 15px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-size: 16px;
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
  background-color: #1c1c1c;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

button:focus {
  outline: 2px solid #a91d1e;
  outline-offset: 2px;
}

/* ===========================================
     RESPONSIVE DESIGN
  =========================================== */

@media (max-width: 768px) {
  .participant-list_home {
    gap: 10px;
  }

  .menu_page {
    max-width: 90%;
    margin: 0 auto;
  }

  .participant-button_home {
    font-size: 16px;
    padding: 8px 15px;
  }

  .sortable-list_preferences li {
    font-size: 14px;
    padding: 8px;
  }

  button {
    padding: 10px 15px;
    font-size: 14px;
  }

  h1,h2,h3 {
    letter-spacing: 1.6px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}
