body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background: linear-gradient(316deg, #ff393a, #731213);
  color: #ffffff;
  line-height: 1.6;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}

button {
  background-color: #d82e2f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #a91d1e;
  transform: translateY(-3px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

input {
  padding: 10px 15px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-size: 16px;
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
  background-color: #1c1c1c;
  color: #ffffff;
}

ul {
  list-style-type: none;
}
